<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css" />
</head>
<body>
    <div class="app__login">
        <div class="app__login__form">
            <h2 align="center">Login user</h2>
            <form id="login-form">
                <div>
                    <label for="" class="label">Email* </label>
                    <input type="email" name="email" value="admin@gmail.com" id="email" class="input-field" required />
                </div>
                <div>
                    <label for="" class="label">Password* </label>
                    <input type="password" name="password" value="admin" id="password" class="input-field" required/>
                </div>
                <div>
                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>